body {
  margin: 0;
  font-family: Arial;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background: #0d47a1;
  color: white;
  padding: 15px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

/* Hero Section */
.hero {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url("https://images.unsplash.com/photo-1523050854058-8df90110c9f1");
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 40px;
}

.hero button {
  padding: 10px 20px;
  background: orange;
  border: none;
  cursor: pointer;
}

/* Courses */
.courses {
  padding: 40px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
}

.card {
  background: #f1f1f1;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
}

/* Contact */
.contact {
  background: #0d47a1;
  color: white;
  text-align: center;
  padding: 40px;
}

.buttons a {
  margin: 10px;
  padding: 12px 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.call-btn {
  background: green;
}

.whatsapp-btn {
  background: #25D366;
}

/* Hover Effects */
.call-btn:hover {
  background: darkgreen;
}

.whatsapp-btn:hover {
  background: #128C7E;
}